#board {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    border-collapse: collapse;
}

.pic {
    height: 50px;
    width: 50px;
}

.cell {
    border: 2px solid black;
    height: 60px;
    width: 60px;
}